body {
  background-color: #333;
}
.col-sm-12 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-6 {
  background-color: violet;
  padding: 5px;
  display: grid;
  justify-content: center;
  background-color: steelblue;
  padding-bottom: 80px;
}
.col-sm-4 {
  background-color: violet;
  padding: 5px;
  display: grid;
  justify-content: center;
  background-color: steelblue;
  padding-bottom: 80px;
}
img {
  width: 30px;
}
