body {
  display: flex;
  flex-direction: row;
  background-color: #333;
}
.col-sm-12 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-6 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-4 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-8 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-2 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-5 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-3 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-10 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-1 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
#yeet {
  padding: 10px;
}
