body {
  display: flex;
  flex-direction: row;
  background-color: #333;
}
.col-sm-12 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-6 {
  background-color: violet;
  padding: 5px;
  display: grid;
  justify-content: center;
  background-color: steelblue;
  padding-bottom: 80px;
}
th {
  border: 1px solid black;
  width: 140px;
  padding: 5px;
}
td {
  border: 1px solid black;
  width: 140px;
  padding: 5px;
}
#img1 {
  width: 30px;
}
