body {
  display: flex;
  flex-direction: row;
  background-color: #333;
}
.col-sm-12 {
  background-color: violet;
  padding: 5px;
  background-color: steelblue;
}
.col-sm-6 {
  background-color: violet;
  padding: 5px;
  display: grid;
  justify-content: center;
  background-color: steelblue;
}
.col-sm-4 {
  background-color: violet;
  padding: 5px;
  display: grid;
  justify-content: center;
  background-color: steelblue;
}
img {
  width: 350px;
  border: 2px solid #333;
}
#yeet {
  display: grid;
  justify-content: center;
}
#ye {
  padding-bottom: 80px;
}
